<section id="about" class="about">
  <h2 class="about_h2">Quiénes somos</h2>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarDiana.jpeg"
    imgAlt="Diana Mármol"
    name="Diana Mármol"
    desc="Ilustradora y diseñadora con varios años de experiencia trabajando para empresas nacionales e internacionales. Un día decidí que quería ir más allá y aprender programación con la misma pasión con la que aprendí a dibujar, logrando mezclar ambos mundos y desarrollar ideas más completas."
    twitter="https://twitter.com/Adalab_Digital"
    linkedin="https://es.linkedin.com/in/dianammarmol"
    github="https://github.com/dianaString"
    email="dianastring.code@gmail.com"
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarMayte.jpeg"
    imgAlt="Mayte González"
    name="Mayte González"
    desc="Después de un tiempo en el campo de la Biología, decidí cambiar mi rumbo a la programación. 
    Siempre me ha interesado mucho el desarrollo y todo lo que tiene que ver con ordenadores. Por ello me decidí a dar el paso e iniciarme en este apasionante mundo. 
    Tengo muchas ganas de aprender cosas nuevas y seguir formándome en este entorno tan mágico. 
    "
    twitter="https://twitter.com/Adalab_Digital"
    linkedin="https://www.linkedin.com/in/maría-teresa-gonzález-rivero/"
    github="https://github.com/MayteGonz"
    email="mtgonriv@gmail.com"
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarAranzazu.jpg"
    imgAlt="Aranzazu Barrutia"
    name="Aranzazu Barrutia"
    desc="Como dice mi padre, soy la Leonardo Da Vincci de la familia. Mi bagaje empieza en historia del arte, pasando por la fotografía y el diseño de moda para terminar formándome como sumiller y llegar a ser jefa de cocina.
    Como no me canso de aprender, decidí darle un giro a mi vida de 360º para poder dedicarle más tiempo a mi pequeña, esto me ha traído hasta el mundo de la programación el cual creo que me dará la oportunidad de conciliar."
    twitter="https://twitter.com/Adalab_Digital"
    linkedin="https://www.linkedin.com/in/aranzazu-barrutia"
    github="https://github.com/Aranzazu-Barrutia"
    email="aranzazufinos@gmail.com"
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarAinhoa.jpg"
    imgAlt="Ainhoa de las Heras"
    name="Ainhoa de las Heras"
    desc="Ex-administrativa, tenía ganas de cambiar mi rumbo laboral y darle un giro fresco, mejorando también mis oportunidades en el trabajo. Me encanta la tecnología, los videojuegos, estar en la naturaleza, los animales y viajar. Mi objetivo es seguir aprendiendo y sentir la emoción de probar cosas nuevas en todo lo que hago."
    twitter="https://twitter.com/ainhoadlhs"
    linkedin="https://www.linkedin.com/in/ainhoadlhs"
    github="https://github.com/Ainhoadlhs"
    email="ainhoadlhs@gmail.com"
  ></include>
</section>
