<article class="name">
  <img class="name_img" src="@@img" alt="@@imgAlt" />
  <div class="name_text">
    <h3 class="name_text-h3">@@name</h3>
    <p class="name_text-p">@@desc</p>
    <nav class="name_text-icons">
      <a
        class="flower fa-brands fa-twitter"
        href="@@twitter"
        title="twitter"
        target="_blank"
      ></a>
      <a
        class="flower fa-brands fa-linkedin-in"
        href="@@linkedin"
        title="linkedin"
        target="_blank"
      ></a>
      <a
        class="flower fa-brands fa-github-alt"
        href="@@github"
        title="Github"
        target="_blank"
      ></a>
      <a
        class="flower fa-solid fa-envelope"
        href="mailto:@@email"
        title="email"
        target="_blank"
      ></a>
    </nav>
  </div>
</article>
