<section class="strAndWeak">
  <div class="strAndWeak_rectangle"></div>
  <div class="container strAndWeak_boxesSW">
    <div class="str">
      <h3 class="str_h3">Fortalezas</h3>
      <p class="str_p">
        En el poco tiempo que llevamos trabajando juntas hemos podido
        entendernos a la perfección. <br />
        El trabajo en equipo ha logrado que aprendamos las unas de las otras,
        combinando nuestras mejores habilidades y consiguiendo crear un equipo
        que funciona en perfecta sincronía.
      </p>
    </div>
    <div class="weak">
      <h3 class="weak_h3">Debilidades</h3>
      <p class="weak_p">
        Dado que llevamos poco tiempo programando, nuestra experiencia es la que
        nos está dando Adalab. <br />
        Estamos el proceso de aprendizaje, afianzando los conceptos con los que
        seguiremos practicando para mejorar poco a poco.
      </p>
    </div>
  </div>
</section>
