<section id="team" class="team">
  <div class="container team_container">
    <h2 class="team_container_h2">Equipo</h2>
    <p class="team_container_p">
      Bienvenidxs a Nakama Team, nosotras somos Diana, Mayte, Aranzazu y Ainhoa,
      futuras web developers que estamos dando un giro para mejorar la
      reconfiguraración de nuestras vidas.
    </p>
    <p class="team_container_p">
      Nuestro nombre de equipo significa que más que simples compañeras, somos
      almas entrelazadas por intereses comunes, creando un círculo de apoyo
      inquebrantable.
    </p>
  </div>
</section>
