$black: #000;
$black-8: #00000014;
$light-grey-blue: #b8b8b91a;
$gunmetal: #54585a;
$gunmetal-75: #54585abf;
$gunmetal-67: #54585aab;
$cool-grey: #b8b8b9;
$cool-grey-2: #b8b8b934;

$white: #fff;
$white-8: #ffffffcc;

$aqua: #14d9c4;
$aqua-75: #14d9c4bf;
$blue-green: #099d8d;
$blue-green-95: #099d8df2;
$blue-green-0: #099d8e00;

$content: "Open Sans", sans-serif;
$titles: "Rubik", sans-serif;

$semiBold: 600;
$medium: 500;
$regular: 400;
