@-webkit-keyframes sakura-fall {
    0% {
      top: -10%;
    }
    100% {
      top: 100%;
    }
  }
  
  @-webkit-keyframes sakura-shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(80px);
      transform: translateX(80px);
    }
  }
  
  @keyframes sakura-fall {
    0% {
      top: -10%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes sakura-shake {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(80px);
    }
  }
  
  .sakura {
    display: block;
    width:55px;
    height:65px;
    background-image: url("../images/petalo.png");
    position: fixed;
    top: -10%;
    left: -38%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: sakura-fall, sakura-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: sakura-fall, sakura-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
    opacity: .8;
  /*   background-color: violet; */
    rotate: 30deg;
  }
  
  .sakura:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
  /*   background-color: rgb(243, 232, 75); */
    scale: 0.6;
    rotate: -80deg;
  }
  .sakura:nth-of-type(1) {
    left: -2%;
/*     -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s; */
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
  /*   background-color: rgb(128, 243, 75); */
    scale: 0.6;
    rotate: 80deg;
    opacity: .7;
    display: none;
    @media(min-width:768px) {
      display: block;
      left: 0%;
    }
  }
  .sakura:nth-of-type(2) {
    left: -8%;
/*     -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s; */
    -webkit-animation-delay: 9s, 2s;
    animation-delay: 9s, 2s;
  /*   background-color: rgb(75, 243, 139); */
    scale: 0.9;
    rotate: -30deg;
      @media(min-width:768px) {
        left: 15%;
      }
  }

  .sakura:nth-of-type(3) {
    left: -6%;
/*     -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s; */
    -webkit-animation-delay: 13s, 4s;
    animation-delay: 13s, 4s;
  /*   background-color: rgb(75, 176, 243); */
    scale: 0.6;
    rotate: 210deg;
    opacity: .6;
  }
  .sakura:nth-of-type(4) {
    left: 25%;
/*     -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s; */
    -webkit-animation-delay: 12s, 3s;
    animation-delay: 12s, 3s;
  /*   background-color: rgb(78, 75, 243); */
    scale: 0.7;
    rotate: 150deg;
    display: none;
      @media(min-width:768px) {
        display: block;
        left: 8%;
      }
  }

  .sakura:nth-of-type(5) {
    left: 82%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s;
/*     background-color: rgb(243, 75, 103); */
    scale: 0.6;
    rotate: 120deg;
    opacity: .5;
  }
  .sakura:nth-of-type(6) {
    left: 93%;
/*     -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s; */
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
/*     background-color: rgb(243, 123, 75); */
    scale: 0.9;
    rotate: 60deg;
  }

  .sakura:nth-of-type(7) {
/*     left: 65%; */
    left: 84%;
/*     -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s; */
    -webkit-animation-delay: 5s, 2.5s;
    animation-delay: 5s, 2.5s;
  /*   background-color: rgb(240, 243, 75); */
    scale: 0.4;
    rotate: -30deg;
    opacity: .6;
    @media(min-width:768px) {
      left: 88%;
    }
  }

  
